<div class="card">
  <div class="card-header">
    <h2>Search Blogs</h2>
  </div>
  <div class="card-body">
    <div class="row px-3">
      <div class="col-md-2">
        <label for="inputPassword6" class="col-form-label">Title :</label>
      </div>
      <div class="col-md-10">
        <input
          type="text"
          id="inputPassword6"
          class="form-control"
          value="{{searchStr}}"
          aria-describedby="passwordHelpInline"
        />
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-outline-success">Search</button>
    </div>
  </div>
</div>
